## Workload 1

In [52]:
# Import all necessary libraries and setup the environment for matplotlib
from pyspark.sql import SparkSession, Row
from pyspark.ml.feature import PCA
from pyspark.ml.clustering import KMeans
from pyspark.ml.feature import HashingTF, IDF, Tokenizer, Normalizer, VectorAssembler
from pyspark.ml.linalg import *
from pyspark.sql.types import * 
from pyspark.sql.functions import *
import pyspark.sql.functions as f
import numpy as np
import matplotlib.pyplot as plt

In [53]:
def blank_as_null(x):
    return when(col(x) != "", col(x)).otherwise(None)

In [54]:
spark = SparkSession \
    .builder \
    .appName("Assignment 2") \
    .getOrCreate()
tweeets_data = spark.read.option('multiline','true').json('tweets.json')

In [4]:
tweeets_data.show()

+-------------------+--------------------+-------------------+----------+---------------+-------------------+------------------+--------------------+-------------------+--------------------+
|         created_at|           hash_tags|                 id|replyto_id|replyto_user_id|         retweet_id|   retweet_user_id|                text|            user_id|       user_mentions|
+-------------------+--------------------+-------------------+----------+---------------+-------------------+------------------+--------------------+-------------------+--------------------+
|2021-05-05 23:37:51|                null|1390088382659895296|      null|           null|1390027514332991489|            807095|RT @nytimes: Brea...|           17799542| [{807095, [3, 11]}]|
|2021-05-05 23:37:45|[{[9, 18], BREAKI...|1390088354717474822|      null|           null|1390022155350446082|         380648579|RT @AFP: #BREAKIN...|         1166466828|[{380648579, [3, ...|
|2021-05-05 23:37:42|                null|1390088345288646661|      null|           null|1390050885229817856|         191807697|RT @jon_trickett:...|1343606436149022723|[{191807697, [3, ...|
|2021-05-05 23:37:39|                null|1390088329530544128|      null|           null|1390066365046865929|          15115280|RT @PalmerReport:...| 930226031276982273|[{15115280, [3, 1...|
|2021-05-05 23:37:36|                null|1390088318906339328|      null|           null|1390027514332991489|            807095|RT @nytimes: Brea...| 920858307392192513| [{807095, [3, 11]}]|
|2021-05-05 23:37:35|                null|1390088314984697859|      null|           null|1390025466539614212|          20402945|RT @CNBC: NEW: Th...|           21458110|[{20402945, [3, 8...|
|2021-05-05 23:37:29|                null|1390088291559608321|      null|           null|1390023742194061312|          26574283|RT @CNBCnow: Pfiz...| 787062740183552000|[{26574283, [3, 1...|
|2021-05-05 23:37:29|                null|1390088290397822982|      null|           null|               null|              null|///bbcwbr] https:...|          392646132|                null|
|2021-05-05 23:37:29|                null|1390088288556388354|      null|           null|1390027514332991489|            807095|RT @nytimes: Brea...|         2955789098| [{807095, [3, 11]}]|
|2021-05-05 23:37:27|                null|1390088282587938817|      null|           null|               null|              null|U.S. will back pr...| 792380204287164416|                null|
|2021-05-05 23:37:27|                null|1390088280755081221|      null|           null|1390027514332991489|            807095|RT @nytimes: Brea...|          198453947| [{807095, [3, 11]}]|
|2021-05-05 23:37:25|                null|1390088274245472264|      null|           null|1390066365046865929|          15115280|RT @PalmerReport:...|         1431726547|[{15115280, [3, 1...|
|2021-05-05 23:37:23|                null|1390088263403249667|      null|           null|1390023742194061312|          26574283|RT @CNBCnow: Pfiz...|1245145031045980163|[{26574283, [3, 1...|
|2021-05-05 23:37:21|                null|1390088257292079112|      null|           null|1390039923588206598|          36326893|RT @EPSUnions: Un...|         2181244875|[{36326893, [3, 1...|
|2021-05-05 23:37:21|                null|1390088255958224899|      null|           null|1390023742194061312|          26574283|RT @CNBCnow: Pfiz...|           34865264|[{26574283, [3, 1...|
|2021-05-05 23:37:14|                null|1390088227365609472|      null|           null|1390087644235902979|        3094649957|RT @SDG2030: The ...|          179912903|[{3094649957, [3,...|
|2021-05-05 23:37:14|                null|1390088227101368322|      null|           null|1390069325353033729|846411464885747712|RT @theserfstv: I...|1173096863840423941|[{846411464885747...|
|2021-05-05 23:37:13|                null|1390088221363556353|      null|           null|               null|              null|Sometimes we just...|          491594719|[{15250661, [119,...|
|2021-05-05 23:37:13|                null|1390088220822495236|      null|           null|1390071789208936452|           7788062|RT @pranesh: And ...|           40404318|[{7788062, [3, 11]}]|
|2021-05-05 23:37:09|                null|1390088206775996416|      null|           null|1390084013864460296|        3094649957|RT @SDG2030: Than...|1326851827879604226|[{3094649957, [3,...|
+-------------------+--------------------+-------------------+----------+---------------+-------------------+------------------+--------------------+-------------------+--------------------+
only showing top 20 rows

In [14]:
tweets_agg = tweeets_data.groupby("user_id").agg(f.concat_ws(" ", f.collect_list(tweeets_data.retweet_id)).alias('agg_retweets'),
                                    f.concat_ws(" ", f.collect_list(tweeets_data.replyto_id)).alias('agg_replies'))

In [27]:
tweets_agg.show()

+---------+--------------------+-------------------+
|  user_id|        agg_retweets|        agg_replies|
+---------+--------------------+-------------------+
| 15466159| 1390027514332991489|               null|
| 19652471| 1390023742194061312|               null|
| 30616018| 1390026843068239874|               null|
| 32947971| 1390027514332991489|               null|
| 33868781|                null|               null|
| 43301934| 1390022155350446082|               null|
| 51797430| 1390023742194061312|               null|
| 54579715| 1390027514332991489|               null|
|106456868| 1390060755995799552|               null|
|109826391| 1390027514332991489|               null|
|111249239| 1390023742194061312|               null|
|147126487|                null|1390043577703563265|
|157101980| 1390056156756914182|               null|
|202170318|13900713418947502...|               null|
|228531805| 1390027514332991489|               null|
|235000057|                null|               null|
|257121078| 1390023742194061312|               null|
|302864870| 1390050885229817856|               null|
|404262940|                null|               null|
|417365324|13900561567569141...|               null|
+---------+--------------------+-------------------+
only showing top 20 rows

In [22]:
tweets_agg = tweets_agg.withColumn("agg_retweets", blank_as_null("agg_retweets"))
tweets_agg = tweets_agg.withColumn("agg_replies", blank_as_null("agg_replies"))

In [31]:
tweets_processed = tweets_agg.select('user_id',concat_ws(' ','agg_retweets','agg_replies').alias('agg_tweet_respond'))

In [39]:
tf.select(col('user_id'),col('tf')).show(truncate=False)

+---------+------------------------------------------------------------------+
|user_id  |tf                                                                |
+---------+------------------------------------------------------------------+
|15466159 |(262144,[23124],[1.0])                                            |
|19652471 |(262144,[204285],[1.0])                                           |
|30616018 |(262144,[158844],[1.0])                                           |
|32947971 |(262144,[23124],[1.0])                                            |
|33868781 |(262144,[249180],[1.0])                                           |
|43301934 |(262144,[178090],[1.0])                                           |
|51797430 |(262144,[204285],[1.0])                                           |
|54579715 |(262144,[23124],[1.0])                                            |
|106456868|(262144,[95155],[1.0])                                            |
|109826391|(262144,[23124],[1.0])                                            |
|111249239|(262144,[204285],[1.0])                                           |
|147126487|(262144,[247891],[1.0])                                           |
|157101980|(262144,[70760],[1.0])                                            |
|202170318|(262144,[78232,127139,151508,178090,232689],[1.0,1.0,1.0,1.0,1.0])|
|228531805|(262144,[23124],[1.0])                                            |
|235000057|(262144,[249180],[1.0])                                           |
|257121078|(262144,[204285],[1.0])                                           |
|302864870|(262144,[101572],[1.0])                                           |
|404262940|(262144,[249180],[1.0])                                           |
|417365324|(262144,[70760,101572],[1.0,1.0])                                 |
+---------+------------------------------------------------------------------+
only showing top 20 rows

In [51]:

cv_data.select(col('user_id'),col('features')).show(truncate=False)

+---------+--------------------------------------------+
|user_id  |features                                    |
+---------+--------------------------------------------+
|15466159 |(656,[0],[1.0])                             |
|19652471 |(656,[1],[1.0])                             |
|30616018 |(656,[114],[1.0])                           |
|32947971 |(656,[0],[1.0])                             |
|33868781 |(656,[2],[1.0])                             |
|43301934 |(656,[3],[1.0])                             |
|51797430 |(656,[1],[1.0])                             |
|54579715 |(656,[0],[1.0])                             |
|106456868|(656,[14],[1.0])                            |
|109826391|(656,[0],[1.0])                             |
|111249239|(656,[1],[1.0])                             |
|147126487|(656,[480],[1.0])                           |
|157101980|(656,[26],[1.0])                            |
|202170318|(656,[3,16,25,87,100],[1.0,1.0,1.0,1.0,1.0])|
|228531805|(656,[0],[1.0])                             |
|235000057|(656,[2],[1.0])                             |
|257121078|(656,[1],[1.0])                             |
|302864870|(656,[8],[1.0])                             |
|404262940|(656,[2],[1.0])                             |
|417365324|(656,[8,26],[1.0,1.0])                      |
+---------+--------------------------------------------+
only showing top 20 rows

In [41]:
tokenizer = Tokenizer(inputCol='agg_tweet_respond',
    outputCol="vectors")
tweets_vectors = tokenizer.transform(tweets_processed)

In [42]:
hashingTF = HashingTF(inputCol="vectors", outputCol="tf")
tf = hashingTF.transform(tweets_vectors)

In [43]:
selected_id = 202170318
tweets_user_filtered = tf_data.where(f'user_id = {selected_id}')
compare_vector = tweets_user_filtered.first()['tf']

NameError: name 'tf_data' is not defined

In [44]:
compare_vector

NameError: name 'compare_vector' is not defined

In [45]:
def cos_sim(a,b=compare_vector):
    return float(a.dot(b) / (a.norm(2) * b.norm(2)))
cos_function = udf(cos_sim, FloatType())

NameError: name 'compare_vector' is not defined

In [46]:
tf_data = tf_data.withColumn("CosineSim",cos_function('tf'))
tf_data = tf_data.where(f'user_id <> {selected_id}')

NameError: name 'tf_data' is not defined

In [47]:
tf_data.show(truncate=False)

NameError: name 'tf_data' is not defined

In [48]:
sorted_output_tf = tf_data.filter(tf_data.CosineSim > 0).sort(col('CosineSim').desc())
sorted_output_tf.show(5,truncate=False)

NameError: name 'tf_data' is not defined

In [49]:
from pyspark.ml.feature import CountVectorizer

cv = CountVectorizer(inputCol="vectors", outputCol="features")

tweets_cv = cv.fit(tweets_vectors)

cv_data = tweets_cv.transform(tweets_vectors)

In [15]:
selected_id = 202170318
tweets_user_filtered = cv_data.where(f'user_id = {selected_id}')
compare_vector = tweets_user_filtered.first()['features']

In [16]:
def cos_sim(a,b=compare_vector):
    return float(a.dot(b) / (a.norm(2) * b.norm(2)))
cos_function = udf(cos_sim, FloatType())

In [17]:
cv_data = cv_data.withColumn("CosineSim",cos_function('features'))
cv_data = cv_data.where(f'user_id <> {selected_id}')

In [18]:
sorted_output_cv = cv_data.filter(cv_data.CosineSim > 0).sort(col('CosineSim').desc())
sorted_output_cv.show(5,truncate=False)

+----------+---------------------------------------+-------------------+---------------------------------------+---------------+-----------+---------------------------------------+------------------------------------------+----------------------+---------+
|user_id   |agg_tweets                             |agg_retweet_users  |agg_retweets                           |agg_reply_users|agg_replies|agg_tweet_respond                      |vectors                                   |features              |CosineSim|
+----------+---------------------------------------+-------------------+---------------------------------------+---------------+-----------+---------------------------------------+------------------------------------------+----------------------+---------+
|3101168904|1390055316683853824 1390055278486310914|380648579 380648579|1390047008971444231 1390022155350446082|null           |null       |1390047008971444231 1390022155350446082|[1390047008971444231, 1390022155350446082]|(656,[3,16],[1.0,1.0])|0.6324555|
|14250699  |1390057365421142021 1390057343916859399|380648579 380648579|1390047008971444231 1390022155350446082|null           |null       |1390047008971444231 1390022155350446082|[1390047008971444231, 1390022155350446082]|(656,[3,16],[1.0,1.0])|0.6324555|
|3016373503|1390049988198027265 1390037671804764160|380648579 380648579|1390047008971444231 1390022155350446082|null           |null       |1390047008971444231 1390022155350446082|[1390047008971444231, 1390022155350446082]|(656,[3,16],[1.0,1.0])|0.6324555|
|1318440355|1390066640641921024 1390066626066747394|380648579 380648579|1390022155350446082 1390047008971444231|null           |null       |1390022155350446082 1390047008971444231|[1390022155350446082, 1390047008971444231]|(656,[3,16],[1.0,1.0])|0.6324555|
|40496226  |1390060819724054535 1390060777055428611|380648579 380648579|1390047008971444231 1390022155350446082|null           |null       |1390047008971444231 1390022155350446082|[1390047008971444231, 1390022155350446082]|(656,[3,16],[1.0,1.0])|0.6324555|
+----------+---------------------------------------+-------------------+---------------------------------------+---------------+-----------+---------------------------------------+------------------------------------------+----------------------+---------+
only showing top 5 rows

## Workload 2

In [55]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.sql import Row

In [57]:
tweeets_data.show(5)

+-------------------+--------------------+-------------------+----------+---------------+-------------------+---------------+--------------------+-------------------+--------------------+
|         created_at|           hash_tags|                 id|replyto_id|replyto_user_id|         retweet_id|retweet_user_id|                text|            user_id|       user_mentions|
+-------------------+--------------------+-------------------+----------+---------------+-------------------+---------------+--------------------+-------------------+--------------------+
|2021-05-05 23:37:51|                null|1390088382659895296|      null|           null|1390027514332991489|         807095|RT @nytimes: Brea...|           17799542| [{807095, [3, 11]}]|
|2021-05-05 23:37:45|[{[9, 18], BREAKI...|1390088354717474822|      null|           null|1390022155350446082|      380648579|RT @AFP: #BREAKIN...|         1166466828|[{380648579, [3, ...|
|2021-05-05 23:37:42|                null|1390088345288646661|      null|           null|1390050885229817856|      191807697|RT @jon_trickett:...|1343606436149022723|[{191807697, [3, ...|
|2021-05-05 23:37:39|                null|1390088329530544128|      null|           null|1390066365046865929|       15115280|RT @PalmerReport:...| 930226031276982273|[{15115280, [3, 1...|
|2021-05-05 23:37:36|                null|1390088318906339328|      null|           null|1390027514332991489|         807095|RT @nytimes: Brea...| 920858307392192513| [{807095, [3, 11]}]|
+-------------------+--------------------+-------------------+----------+---------------+-------------------+---------------+--------------------+-------------------+--------------------+
only showing top 5 rows

In [66]:
wl2 = tweeets_data.withColumn("mentioned_users", tweeets_data["user_mentions"].getField('id'))
wl2.show(5)

+-------------------+--------------------+-------------------+----------+---------------+-------------------+---------------+--------------------+-------------------+--------------------+---------------+
|         created_at|           hash_tags|                 id|replyto_id|replyto_user_id|         retweet_id|retweet_user_id|                text|            user_id|       user_mentions|mentioned_users|
+-------------------+--------------------+-------------------+----------+---------------+-------------------+---------------+--------------------+-------------------+--------------------+---------------+
|2021-05-05 23:37:51|                null|1390088382659895296|      null|           null|1390027514332991489|         807095|RT @nytimes: Brea...|           17799542| [{807095, [3, 11]}]|       [807095]|
|2021-05-05 23:37:45|[{[9, 18], BREAKI...|1390088354717474822|      null|           null|1390022155350446082|      380648579|RT @AFP: #BREAKIN...|         1166466828|[{380648579, [3, ...|    [380648579]|
|2021-05-05 23:37:42|                null|1390088345288646661|      null|           null|1390050885229817856|      191807697|RT @jon_trickett:...|1343606436149022723|[{191807697, [3, ...|    [191807697]|
|2021-05-05 23:37:39|                null|1390088329530544128|      null|           null|1390066365046865929|       15115280|RT @PalmerReport:...| 930226031276982273|[{15115280, [3, 1...|     [15115280]|
|2021-05-05 23:37:36|                null|1390088318906339328|      null|           null|1390027514332991489|         807095|RT @nytimes: Brea...| 920858307392192513| [{807095, [3, 11]}]|       [807095]|
+-------------------+--------------------+-------------------+----------+---------------+-------------------+---------------+--------------------+-------------------+--------------------+---------------+
only showing top 5 rows

In [67]:
wl2_users = wl2.select(col('user_id'),col('mentioned_users'))

In [70]:
wl2_users.show(5)

+-------------------+---------------+
|            user_id|mentioned_users|
+-------------------+---------------+
|           17799542|         807095|
|         1166466828|      380648579|
|1343606436149022723|      191807697|
| 930226031276982273|       15115280|
| 920858307392192513|         807095|
+-------------------+---------------+
only showing top 5 rows

In [69]:
wl2_users = wl2_users.withColumn("mentioned_users", explode("mentioned_users"))

In [71]:
wl2_users_agg = wl2_users.groupBy(col('user_id'),col('mentioned_users')).count()

In [73]:
wl2_users_agg.orderBy(wl2_users_agg["count"].desc()).show(5)

+-------------------+---------------+-----+
|            user_id|mentioned_users|count|
+-------------------+---------------+-----+
|         3094649957|       24259259|    6|
| 898230537244073986|      281877818|    3|
|         3094649957|     3094649957|    3|
|1286417148848480257|       55060090|    3|
|          138011877|      380648579|    2|
+-------------------+---------------+-----+
only showing top 5 rows

In [74]:
from pyspark.sql.types import *
from pyspark.ml.feature import StringIndexer, IndexToString

stringIndexer_uid = StringIndexer(inputCol="user_id", outputCol="user_id_indexed",stringOrderType="frequencyDesc")
model_uid = stringIndexer_uid.fit(wl2_users_agg)

stringIndexer_mentioned = StringIndexer(inputCol="mentioned_users", outputCol="mentioned_users_indexed",stringOrderType="frequencyDesc")
model_mu = stringIndexer_mentioned.fit(wl2_users_agg)

td = model_uid.transform(wl2_users_agg)
wl2_users_transformed = model_mu.transform(td)

In [154]:
wl2_users_transformed.filter(col('mentioned_users_indexed')==138).show()

+-------------------+---------------+-----+---------------+-----------------------+
|            user_id|mentioned_users|count|user_id_indexed|mentioned_users_indexed|
+-------------------+---------------+-----+---------------+-----------------------+
| 806740569707819008|      281877818|    1|         7401.0|                  138.0|
|          109025128|      281877818|    2|          372.0|                  138.0|
| 898230537244073986|      281877818|    3|          888.0|                  138.0|
|1337396414205341699|      281877818|    1|          466.0|                  138.0|
|1364709585458634757|      281877818|    1|          483.0|                  138.0|
+-------------------+---------------+-----+---------------+-----------------------+

In [79]:
model_recs.show(5,truncate=False)

+---------------+------------------------------------------------------------------------------------------+
|user_id_indexed|recommendations                                                                           |
+---------------+------------------------------------------------------------------------------------------+
|1580           |[{114, 3.5947633}, {35, 3.1534054}, {182, 3.0689082}, {176, 2.9330564}, {191, 2.9279106}] |
|4900           |[{114, 3.9289262}, {85, 3.5334418}, {182, 3.2382052}, {176, 3.1983874}, {191, 2.9853811}] |
|5300           |[{114, 3.9289262}, {85, 3.5334418}, {182, 3.2382052}, {176, 3.1983874}, {191, 2.9853811}] |
|6620           |[{114, 3.9289262}, {85, 3.5334418}, {182, 3.2382052}, {176, 3.1983874}, {191, 2.9853811}] |
|7240           |[{138, 3.0787108}, {187, 2.7853408}, {139, 2.7356298}, {116, 2.7342734}, {124, 2.7342734}]|
+---------------+------------------------------------------------------------------------------------------+
only showing top 5 rows

In [85]:
als = ALS(maxIter=5, regParam=0.01, userCol="user_id_indexed", itemCol="mentioned_users_indexed", ratingCol="count",
          coldStartStrategy="drop")
model = als.fit(wl2_users_transformed)

In [86]:
model_recs = model.recommendForAllUsers(5)

In [87]:
model_recs = model_recs.withColumn("user_id_indexed", model_recs["user_id_indexed"].cast("double"))

In [88]:
udf1 = f.udf(lambda x : 'ID :'+str(x[0])+' Score:'+str(x[1]))
model_recs.select('index','user_id',f.explode('recommendations').alias('id'),udf1(f.col('id')).alias('UserRecommendations')).show(truncate=False)

AnalysisException: cannot resolve '`index`' given input columns: [id, recommendations, user_id_indexed];
'Project ['index, 'user_id, id#6030, <lambda>(id#6030) AS UserRecommendations#6029]
+- Generate explode(recommendations#6021), false, [id#6030]
   +- Project [cast(user_id_indexed#6020 as double) AS user_id_indexed#6024, recommendations#6021]
      +- Project [id#6016 AS user_id_indexed#6020, cast(recommendations#6017 as array<struct<mentioned_users_indexed:int,rating:float>>) AS recommendations#6021]
         +- Project [key#6010 AS id#6016, TopByKeyAggregator(scala.Tuple3)#6015 AS recommendations#6017]
            +- Aggregate [value#6002], [value#6002 AS key#6010, topbykeyaggregator(org.apache.spark.ml.recommendation.TopByKeyAggregator@644075d8, Some(newInstance(class scala.Tuple3)), Some(class scala.Tuple3), Some(StructType(StructField(_1,IntegerType,false), StructField(_2,IntegerType,false), StructField(_3,FloatType,false))), encodeusingserializer(input[0, java.lang.Object, true], true), decodeusingserializer(input[0, binary, true], org.apache.spark.util.BoundedPriorityQueue, true), mapobjects(lambdavariable(MapObject, ObjectType(class scala.Tuple2), true, 195), if (isnull(lambdavariable(MapObject, ObjectType(class scala.Tuple2), true, 195))) null else named_struct(_1, knownnotnull(lambdavariable(MapObject, ObjectType(class scala.Tuple2), true, 195))._1, _2, knownnotnull(lambdavariable(MapObject, ObjectType(class scala.Tuple2), true, 195))._2), input[0, [Lscala.Tuple2;, true], None), ArrayType(StructType(StructField(_1,IntegerType,false), StructField(_2,FloatType,false)),true), true, 0, 0) AS TopByKeyAggregator(scala.Tuple3)#6015]
               +- AppendColumns org.apache.spark.ml.recommendation.ALSModel$$Lambda$4544/0x0000000801af98a8@243c826a, class scala.Tuple3, [StructField(_1,IntegerType,false), StructField(_2,IntegerType,false), StructField(_3,FloatType,false)], newInstance(class scala.Tuple3), [input[0, int, false] AS value#6002]
                  +- SerializeFromObject [knownnotnull(assertnotnull(input[0, scala.Tuple3, true]))._1 AS _1#5991, knownnotnull(assertnotnull(input[0, scala.Tuple3, true]))._2 AS _2#5992, knownnotnull(assertnotnull(input[0, scala.Tuple3, true]))._3 AS _3#5993]
                     +- MapPartitions org.apache.spark.sql.Dataset$$Lambda$4542/0x0000000801af87f8@7f9e715f, obj#5990: scala.Tuple3
                        +- DeserializeToObject newInstance(class scala.Tuple2), obj#5989: scala.Tuple2
                           +- Join Cross
                              :- SerializeFromObject [mapobjects(lambdavariable(MapObject, ObjectType(class scala.Tuple2), true, 174), if (isnull(lambdavariable(MapObject, ObjectType(class scala.Tuple2), true, 174))) null else named_struct(_1, knownnotnull(lambdavariable(MapObject, ObjectType(class scala.Tuple2), true, 174))._1, _2, staticinvoke(class org.apache.spark.sql.catalyst.expressions.UnsafeArrayData, ArrayType(FloatType,false), fromPrimitiveArray, knownnotnull(lambdavariable(MapObject, ObjectType(class scala.Tuple2), true, 174))._2, true, false)), input[0, scala.collection.Seq, true], None) AS value#5969]
                              :  +- MapPartitions org.apache.spark.ml.recommendation.ALSModel$$Lambda$4533/0x0000000801af5750@2f0e28f6, obj#5968: scala.collection.Seq
                              :     +- DeserializeToObject newInstance(class scala.Tuple2), obj#5967: scala.Tuple2
                              :        +- Project [_1#5936 AS id#5941, _2#5937 AS features#5942]
                              :           +- SerializeFromObject [knownnotnull(assertnotnull(input[0, scala.Tuple2, true]))._1 AS _1#5936, staticinvoke(class org.apache.spark.sql.catalyst.expressions.UnsafeArrayData, ArrayType(FloatType,false), fromPrimitiveArray, knownnotnull(assertnotnull(input[0, scala.Tuple2, true]))._2, true, false) AS _2#5937]
                              :              +- ExternalRDD [obj#5935]
                              +- SerializeFromObject [mapobjects(lambdavariable(MapObject, ObjectType(class scala.Tuple2), true, 177), if (isnull(lambdavariable(MapObject, ObjectType(class scala.Tuple2), true, 177))) null else named_struct(_1, knownnotnull(lambdavariable(MapObject, ObjectType(class scala.Tuple2), true, 177))._1, _2, staticinvoke(class org.apache.spark.sql.catalyst.expressions.UnsafeArrayData, ArrayType(FloatType,false), fromPrimitiveArray, knownnotnull(lambdavariable(MapObject, ObjectType(class scala.Tuple2), true, 177))._2, true, false)), input[0, scala.collection.Seq, true], None) AS value#5978]
                                 +- MapPartitions org.apache.spark.ml.recommendation.ALSModel$$Lambda$4533/0x0000000801af5750@4887667a, obj#5977: scala.collection.Seq
                                    +- DeserializeToObject newInstance(class scala.Tuple2), obj#5976: scala.Tuple2
                                       +- Project [_1#5948 AS id#5953, _2#5949 AS features#5954]
                                          +- SerializeFromObject [knownnotnull(assertnotnull(input[0, scala.Tuple2, true]))._1 AS _1#5948, staticinvoke(class org.apache.spark.sql.catalyst.expressions.UnsafeArrayData, ArrayType(FloatType,false), fromPrimitiveArray, knownnotnull(assertnotnull(input[0, scala.Tuple2, true]))._2, true, false) AS _2#5949]
                                             +- ExternalRDD [obj#5947]

In [310]:
model_recs.select(['user_id'] + [col("recommendations")[i].alias('Recommended User (with score): '+str(i+1)) for i in range(n)]).show(truncate=False)

+-------------------+--------------------------------+--------------------------------+--------------------------------+---------------------------------+--------------------------------+
|user_id            |Recommended User (with score): 1|Recommended User (with score): 2|Recommended User (with score): 3|Recommended User (with score): 4 |Recommended User (with score): 5|
+-------------------+--------------------------------+--------------------------------+--------------------------------+---------------------------------+--------------------------------+
|1155901127738761216|{36326893, 3.1511617}           |{1003895325025865730, 3.1511617}|{42183750, 3.1511521}           |{1146329871418843136, 3.1511521} |{40851610, 2.1324542}           |
|289239316          |{449027230, 4.5872145}          |{281877818, 4.141928}           |{20759034, 3.994655}            |{1003895325025865730, 3.1396317} |{36326893, 3.1396317}           |
|324681796          |{449027230, 4.5872145}          |{281877818, 4.141928}           |{20759034, 3.994655}            |{1003895325025865730, 3.1396317} |{36326893, 3.1396317}           |
|574799895          |{449027230, 4.5872145}          |{281877818, 4.141928}           |{20759034, 3.994655}            |{1003895325025865730, 3.1396317} |{36326893, 3.1396317}           |
|772906387676491776 |{14296273, 2.980116}            |{865004396681207809, 2.59181}   |{449027230, 2.3210123}          |{370219796, 2.3131893}           |{59159771, 2.1646295}           |
|792350436          |{587591389, 2.7744668}          |{12133382, 2.6727326}           |{15250661, 2.592925}            |{65201417, 2.5842016}            |{91905327, 2.3440156}           |
|894363253328945154 |{36326893, 3.1511617}           |{1003895325025865730, 3.1511617}|{42183750, 3.1511521}           |{1146329871418843136, 3.1511521} |{40851610, 2.1324542}           |
|1346995460251152389|{757303975, 2.0167801}          |{65201417, 1.7514728}           |{2195885540, 1.7495422}         |{85583894, 1.6644943}            |{36326893, 1.6155571}           |
|1158385104781058049|{449027230, 4.5872145}          |{281877818, 4.141928}           |{20759034, 3.994655}            |{1003895325025865730, 3.1396317} |{36326893, 3.1396317}           |
|229547268          |{449027230, 4.5872145}          |{281877818, 4.141928}           |{20759034, 3.994655}            |{1003895325025865730, 3.1396317} |{36326893, 3.1396317}           |
|110016678          |{449027230, 4.5872145}          |{281877818, 4.141928}           |{20759034, 3.994655}            |{1003895325025865730, 3.1396317} |{36326893, 3.1396317}           |
|1266491662689284107|{449027230, 4.5872145}          |{281877818, 4.141928}           |{20759034, 3.994655}            |{1003895325025865730, 3.1396317} |{36326893, 3.1396317}           |
|1267982563         |{132630502, 0.9960255}          |{320432933, 0.9412919}          |{159955958, 0.9166928}          |{1321935792416149505, 0.85282975}|{17464397, 0.7728789}           |
|91649023           |{36326893, 3.1511617}           |{1003895325025865730, 3.1511617}|{42183750, 3.1511521}           |{1146329871418843136, 3.1511521} |{40851610, 2.1324542}           |
|1332626888674537474|{20759034, 3.2644851}           |{92555364, 2.8052871}           |{36326893, 2.5861902}           |{1003895325025865730, 2.5861902} |{42183750, 2.58618}             |
|779175673264902144 |{1643123766, 1.5952177}         |{41704988, 1.3344955}           |{17112878, 1.3126293}           |{61863570, 1.2930477}            |{757303975, 1.1488655}          |
|393136091          |{757303975, 0.9981464}          |{281877818, 0.7157033}          |{1643123766, 0.63348216}        |{170291358, 0.54149616}          |{865004396681207809, 0.5380957} |
|775128877123403777 |{36326893, 3.1511617}           |{1003895325025865730, 3.1511617}|{42183750, 3.1511521}           |{1146329871418843136, 3.1511521} |{40851610, 2.1324542}           |
|885923187602620416 |{281877818, 2.5645926}          |{42953038, 1.6447657}           |{1146329871418843136, 1.5232981}|{42183750, 1.5232981}            |{36326893, 1.5232934}           |
|919089103852929024 |{36326893, 3.1511617}           |{1003895325025865730, 3.1511617}|{42183750, 3.1511521}           |{1146329871418843136, 3.1511521} |{40851610, 2.1324542}           |
+-------------------+--------------------------------+--------------------------------+--------------------------------+---------------------------------+--------------------------------+
only showing top 20 rows

In [89]:
als = ALS(userCol="user_id_indexed", itemCol="mentioned_users_indexed", ratingCol="count",
          coldStartStrategy="drop")
model = als.fit(wl2_users_transformed)

model_recs = model.recommendForAllUsers(5).cache()

uid_labels = model_uid.labels
uid_labels_ = array(*[lit(x) for x in uid_labels])

n = 5
mu_labels = model_mu.labels
mu_labels_ = array(*[lit(x) for x in mu_labels])
recommendations = array(*[struct(
    mu_labels_[col("recommendations")[i]["mentioned_users_indexed"]].alias("userId"),
    col("recommendations")[i]["rating"].alias("rating")
) for i in range(n)])

model_recs = model_recs.withColumn("recommendations", recommendations)\
        .withColumn("user_id", uid_labels_[col("user_id_indexed")])

In [94]:
model_recs.select('user_id' , col("recommendations")).show(5)

+-------------------+--------------------+
|            user_id|     recommendations|
+-------------------+--------------------+
|1155901127738761216|[{24259259, 1.257...|
|          289239316|[{26574283, 0.900...|
|          324681796|[{26574283, 0.900...|
|          574799895|[{26574283, 0.900...|
| 772906387676491776|[{133081348, 0.89...|
+-------------------+--------------------+
only showing top 5 rows

In [96]:
model_recs.select(['user_id'] + [col("recommendations")[i].alias('Recommended User: '+str(i+1)) for i in range(n)]).show(5,truncate=False)

+-------------------+----------------------+--------------------------------+--------------------------------+------------------------+----------------------+
|user_id            |Recommended User: 1   |Recommended User: 2             |Recommended User: 3             |Recommended User: 4     |Recommended User: 5   |
+-------------------+----------------------+--------------------------------+--------------------------------+------------------------+----------------------+
|1155901127738761216|{24259259, 1.2575269} |{346102488, 1.1129419}          |{1244013067790364673, 1.0716459}|{3094649957, 0.91468585}|{807095, 0.9016202}   |
|289239316          |{26574283, 0.90062225}|{1891266440, 0.8982357}         |{185025785, 0.8982352}          |{2791419078, 0.89820886}|{216294504, 0.8981522}|
|324681796          |{26574283, 0.90062225}|{1891266440, 0.8982357}         |{185025785, 0.8982352}          |{2791419078, 0.89820886}|{216294504, 0.8981522}|
|574799895          |{26574283, 0.90062225}|{1891266440, 0.8982357}         |{185025785, 0.8982352}          |{2791419078, 0.89820886}|{216294504, 0.8981522}|
|772906387676491776 |{133081348, 0.8994713}|{1267708379138535424, 0.8875567}|{408793153, 0.8875567}          |{1643123766, 0.8478074} |{22429979, 0.7540448} |
+-------------------+----------------------+--------------------------------+--------------------------------+------------------------+----------------------+
only showing top 5 rows

In [84]:
from pyspark.sql.functions import array, col, lit, struct

n = 5
mu_labels = model_mu.labels
mu_labels_ = array(*[lit(x) for x in mu_labels])
recommendations = array(*[struct(
    mu_labels_[col("recommendations")[i]["mentioned_users_indexed"]].alias("userId"),
    col("recommendations")[i]["rating"].alias("rating")
) for i in range(n)])

model_recs = model_recs.withColumn("recommendations", recommendations)
model_recs = model_recs.withColumn("user_id", uid_labels_[col("user_id_indexed")])
model_recs.select(col('user_id'),col('recommendations')).show(truncate=False)

AnalysisException: No such struct field mentioned_users_indexed in userId, rating

In [279]:
model_recs.select(col('user_id'),col('recommendations')).show(truncate=False)

+-------------------+-----------------------------------------------------------------------------------------------------------------------------------------+
|user_id            |recommendations                                                                                                                          |
+-------------------+-----------------------------------------------------------------------------------------------------------------------------------------+
|1155901127738761216|[{36326893, 3.1511617}, {1003895325025865730, 3.1511617}, {42183750, 3.1511521}, {1146329871418843136, 3.1511521}, {40851610, 2.1324542}]|
|289239316          |[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]           |
|324681796          |[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]           |
|574799895          |[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]           |
|772906387676491776 |[{14296273, 2.980116}, {865004396681207809, 2.59181}, {449027230, 2.3210123}, {370219796, 2.3131893}, {59159771, 2.1646295}]             |
|792350436          |[{587591389, 2.7744668}, {12133382, 2.6727326}, {15250661, 2.592925}, {65201417, 2.5842016}, {91905327, 2.3440156}]                      |
|894363253328945154 |[{36326893, 3.1511617}, {1003895325025865730, 3.1511617}, {42183750, 3.1511521}, {1146329871418843136, 3.1511521}, {40851610, 2.1324542}]|
|1346995460251152389|[{757303975, 2.0167801}, {65201417, 1.7514728}, {2195885540, 1.7495422}, {85583894, 1.6644943}, {36326893, 1.6155571}]                   |
|1158385104781058049|[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]           |
|229547268          |[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]           |
|110016678          |[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]           |
|1266491662689284107|[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]           |
|1267982563         |[{132630502, 0.9960255}, {320432933, 0.9412919}, {159955958, 0.9166928}, {1321935792416149505, 0.85282975}, {17464397, 0.7728789}]       |
|91649023           |[{36326893, 3.1511617}, {1003895325025865730, 3.1511617}, {42183750, 3.1511521}, {1146329871418843136, 3.1511521}, {40851610, 2.1324542}]|
|1332626888674537474|[{20759034, 3.2644851}, {92555364, 2.8052871}, {36326893, 2.5861902}, {1003895325025865730, 2.5861902}, {42183750, 2.58618}]             |
|779175673264902144 |[{1643123766, 1.5952177}, {41704988, 1.3344955}, {17112878, 1.3126293}, {61863570, 1.2930477}, {757303975, 1.1488655}]                   |
|393136091          |[{757303975, 0.9981464}, {281877818, 0.7157033}, {1643123766, 0.63348216}, {170291358, 0.54149616}, {865004396681207809, 0.5380957}]     |
|775128877123403777 |[{36326893, 3.1511617}, {1003895325025865730, 3.1511617}, {42183750, 3.1511521}, {1146329871418843136, 3.1511521}, {40851610, 2.1324542}]|
|885923187602620416 |[{281877818, 2.5645926}, {42953038, 1.6447657}, {1146329871418843136, 1.5232981}, {42183750, 1.5232981}, {36326893, 1.5232934}]          |
|919089103852929024 |[{36326893, 3.1511617}, {1003895325025865730, 3.1511617}, {42183750, 3.1511521}, {1146329871418843136, 3.1511521}, {40851610, 2.1324542}]|
+-------------------+-----------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [280]:
model_recs

DataFrame[user_id_indexed: int, recommendations: array<struct<userId:string,rating:float>>, user_id: string, index: bigint]

In [244]:
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.functions import desc

model_recs = model_recs.withColumn("index", monotonically_increasing_id())
model_recs.orderBy(desc("index")).drop("index").show(20,truncate=False)

+---------------+------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+
|user_id_indexed|recommendations                                                                                                                                       |user_id            |
+---------------+------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+
|7999           |[{587591389, 2.7744668}, {12133382, 2.6727326}, {15250661, 2.592925}, {65201417, 2.5842016}, {91905327, 2.3440156}]                                   |920257832          |
|6819           |[{17154865, 2.5952804}, {14499829, 1.7732091}, {189868631, 1.7732091}, {14159148, 1.7732091}, {104277809, 1.7579473}]                                 |63335497           |
|89             |[{281877818, 1.2333388}, {1146329871418843136, 0.99810743}, {42183750, 0.99810743}, {1003895325025865730, 0.998107}, {36326893, 0.998107}]            |582996784          |
|6638           |[{1643123766, 1.8501474}, {274233761, 1.582675}, {55060090, 1.2824453}, {149075155, 1.1669905}, {607946179, 1.161244}]                                |57904564           |
|6438           |[{36326893, 3.1511617}, {1003895325025865730, 3.1511617}, {42183750, 3.1511521}, {1146329871418843136, 3.1511521}, {40851610, 2.1324542}]             |51450959           |
|6078           |[{157981564, 1.2352414}, {114968487, 1.2346067}, {42953038, 1.2218785}, {281877818, 1.1211666}, {153944899, 1.0651616}]                               |4443219497         |
|3668           |[{1643123766, 2.8898983}, {92555364, 2.5749083}, {153944899, 2.193059}, {1108054880139264000, 2.0763032}, {939091, 2.0085347}]                        |19124878           |
|1138           |[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]                        |1054959386945314822|
|6477           |[{159955958, 0.9980626}, {1078401427347857408, 0.56875545}, {738767160395321345, 0.5239404}, {320432933, 0.5211886}, {1321935792416149505, 0.5104768}]|52840398           |
|6047           |[{36326893, 3.1511617}, {1003895325025865730, 3.1511617}, {42183750, 3.1511521}, {1146329871418843136, 3.1511521}, {40851610, 2.1324542}]             |43700451           |
|2487           |[{36326893, 3.1511617}, {1003895325025865730, 3.1511617}, {42183750, 3.1511521}, {1146329871418843136, 3.1511521}, {40851610, 2.1324542}]             |1328799541542477828|
|2457           |[{24259259, 3.3611617}, {281877818, 2.8113117}, {157981564, 1.9453413}, {114968487, 1.9443282}, {153944899, 1.9220815}]                               |1322748007         |
|517            |[{157981564, 0.99852836}, {114968487, 0.9981275}, {281877818, 0.7810886}, {965935355492032514, 0.614681}, {846411464885747712, 0.5794673}]            |151497921          |
|7476           |[{21406834, 1.7980609}, {2318270108, 1.2920923}, {121181001, 1.2190623}, {320432933, 1.1526595}, {854725669, 1.1409824}]                              |821160270504439809 |
|7466           |[{29780473, 0.9965991}, {607946179, 0.7907979}, {203123011, 0.69117963}, {299273962, 0.6686857}, {55060090, 0.6653562}]                               |820714600001896449 |
|7166           |[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]                        |754455561417089024 |
|6306           |[{159955958, 0.9980626}, {1078401427347857408, 0.56875545}, {738767160395321345, 0.5239404}, {320432933, 0.5211886}, {1321935792416149505, 0.5104768}]|4857661295         |
|5836           |[{587591389, 2.7744668}, {12133382, 2.6727326}, {15250661, 2.592925}, {65201417, 2.5842016}, {91905327, 2.3440156}]                                   |398849557          |
|5806           |[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]                        |393701691          |
|3836           |[{281877818, 2.5645926}, {42953038, 1.6447657}, {1146329871418843136, 1.5232981}, {42183750, 1.5232981}, {36326893, 1.5232934}]                       |208409094          |
+---------------+------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+
only showing top 20 rows

In [81]:
uid_labels = model_uid.labels

In [82]:
uid_labels_ = array(*[lit(x) for x in uid_labels])

In [220]:

test = model_recs.withColumn("t", uid_labels_[col("user_id_indexed")])
test.show(truncate=False)

+---------------+-----------------------------------------------------------------------------------------------------------------------------------------+-------------------+
|user_id_indexed|recommendations                                                                                                                          |t                  |
+---------------+-----------------------------------------------------------------------------------------------------------------------------------------+-------------------+
|1580           |[{36326893, 3.1511617}, {1003895325025865730, 3.1511617}, {42183750, 3.1511521}, {1146329871418843136, 3.1511521}, {40851610, 2.1324542}]|1155901127738761216|
|4900           |[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]           |289239316          |
|5300           |[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]           |324681796          |
|6620           |[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]           |574799895          |
|7240           |[{14296273, 2.980116}, {865004396681207809, 2.59181}, {449027230, 2.3210123}, {370219796, 2.3131893}, {59159771, 2.1646295}]             |772906387676491776 |
|7340           |[{587591389, 2.7744668}, {12133382, 2.6727326}, {15250661, 2.592925}, {65201417, 2.5842016}, {91905327, 2.3440156}]                      |792350436          |
|7880           |[{36326893, 3.1511617}, {1003895325025865730, 3.1511617}, {42183750, 3.1511521}, {1146329871418843136, 3.1511521}, {40851610, 2.1324542}]|894363253328945154 |
|471            |[{757303975, 2.0167801}, {65201417, 1.7514728}, {2195885540, 1.7495422}, {85583894, 1.6644943}, {36326893, 1.6155571}]                   |1346995460251152389|
|1591           |[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]           |1158385104781058049|
|4101           |[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]           |229547268          |
|1342           |[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]           |110016678          |
|2122           |[{449027230, 4.5872145}, {281877818, 4.141928}, {20759034, 3.994655}, {1003895325025865730, 3.1396317}, {36326893, 3.1396317}]           |1266491662689284107|
|2142           |[{132630502, 0.9960255}, {320432933, 0.9412919}, {159955958, 0.9166928}, {1321935792416149505, 0.85282975}, {17464397, 0.7728789}]       |1267982563         |
|7982           |[{36326893, 3.1511617}, {1003895325025865730, 3.1511617}, {42183750, 3.1511521}, {1146329871418843136, 3.1511521}, {40851610, 2.1324542}]|91649023           |
|463            |[{20759034, 3.2644851}, {92555364, 2.8052871}, {36326893, 2.5861902}, {1003895325025865730, 2.5861902}, {42183750, 2.58618}]             |1332626888674537474|
|833            |[{1643123766, 1.5952177}, {41704988, 1.3344955}, {17112878, 1.3126293}, {61863570, 1.2930477}, {757303975, 1.1488655}]                   |779175673264902144 |
|5803           |[{757303975, 0.9981464}, {281877818, 0.7157033}, {1643123766, 0.63348216}, {170291358, 0.54149616}, {865004396681207809, 0.5380957}]     |393136091          |
|7253           |[{36326893, 3.1511617}, {1003895325025865730, 3.1511617}, {42183750, 3.1511521}, {1146329871418843136, 3.1511521}, {40851610, 2.1324542}]|775128877123403777 |
|7833           |[{281877818, 2.5645926}, {42953038, 1.6447657}, {1146329871418843136, 1.5232981}, {42183750, 1.5232981}, {36326893, 1.5232934}]          |885923187602620416 |
|7993           |[{36326893, 3.1511617}, {1003895325025865730, 3.1511617}, {42183750, 3.1511521}, {1146329871418843136, 3.1511521}, {40851610, 2.1324542}]|919089103852929024 |
+---------------+-----------------------------------------------------------------------------------------------------------------------------------------+-------------------+
only showing top 20 rows

In [246]:
wl2_users_transformed.filter(col('user_id_indexed') == 6306).show()

+----------+---------------+-----+---------------+-----------------------+
|   user_id|mentioned_users|count|user_id_indexed|mentioned_users_indexed|
+----------+---------------+-----+---------------+-----------------------+
|4857661295|      159955958|    1|         6306.0|                   29.0|
+----------+---------------+-----+---------------+-----------------------+

In [235]:
test.printSchema()

root
 |-- user_id_indexed: integer (nullable = false)
 |-- recommendations: array (nullable = false)
 |    |-- element: struct (containsNull = false)
 |    |    |-- userId: string (nullable = true)
 |    |    |-- rating: float (nullable = true)
 |-- t: string (nullable = true)